body
{
    font-family: 'Coming Soon', cursive;
}
.menu
{
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: plum;
    color: white;
    float: left;
}
.stopka
{
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: plum;
    color: white;
    float: left;
    padding-top:80px;
    font-size: 30px;
}
#slider
{
    float: left;
    margin: auto;
    width: 20%;
    background-color: tomato;
    height: 170px;
    padding-top: 30px;
}
#obliczenia
{
    float: left;
    margin: auto;
    width: 20%;
    background-color: tomato;
    height: 170px;
    padding-top: 30px;
}
#obiekt
{
    float: left;
    margin: auto;
    width: 20%;
    background-color: skyblue;
    height: 170px;
    padding-top: 30px;
}
#zegar
{
    float: left;
    margin: auto;
    width: 20%;
    background-color: tomato;
    height: 170px;
    padding-top: 30px;
}
#animacje
{
    float: left;
    margin: auto;
    width: 20%;
    background-color: skyblue;
    height:     170px;
    padding-top: 30px;
}
.srodeklewa
{
    float:left;
    background-color: rgb(140, 0, 255);
    height: 600px;
    width: 40%;
    color: white;
    text-align: center;
    font-size: 30px;
}
.srodekprawa
{
    float:right;
    background-color:gold;
    height: 600px;
    width: 60%;
    color: white;
    text-align: center;
    font-size: 30px;
}
button
{
    font-family: 'Coming Soon', cursive;
    padding: 15px 32px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(255, 0, 149);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding-top: 20px;
}
button:hover {background-color: rgb(255, 0, 149)}

button:active {
  background-color: rgb(182, 0, 136);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#countdown-container {
    display: inline-block;
    width: 300px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: rgb(255, 0, 149);
    box-shadow: 0 9px #999;
}
#countdown {
    font-family: 'Coming Soon', cursive;
    display: inline-block;
    padding: 30px; 
    background: rgb(255, 0, 149);
    color: white; 
    border-radius: 20px;
}

#countdown span {
    font-weight: bold;
    font-size: 30px; 
    border-radius: 20px;
}
img
{
    height: 400px;
    width: 700px;
    padding-top: 110px;
}